<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:h2:file:C:\Users\alberto\Desktop/temperatus/h2/database</property>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.password">temperatus2015</property>
        <property name="hibernate.connection.username">aquesada</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <!--<property name="hibernate.cache.use_second_level_cache">true</property>-->
        <!--<property name="hibernate.cache.use_query_cache">true</property>-->
        <!--<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</property>-->
        <!--<property name="net.sf.ehcache.configurationResourceName">/config/ehcache.xml</property>-->
        <!--<property name="hibernate.cache.use_structured_entries">true</property>-->

        <property name="hibernate.show_sql">true</property>
        <!--<property name="hibernate.generate_statistics">true</property>-->

        <mapping class="temperatus.model.pojo.Record"/>
        <mapping class="temperatus.model.pojo.Subject"/>
        <mapping class="temperatus.model.pojo.Game"/>
        <mapping class="temperatus.model.pojo.Formula"/>
        <mapping class="temperatus.model.pojo.Ibutton"/>
        <mapping class="temperatus.model.pojo.Measurement"/>
        <mapping class="temperatus.model.pojo.Mission"/>
        <mapping class="temperatus.model.pojo.Position"/>
        <mapping class="temperatus.model.pojo.Project"/>
        <mapping class="temperatus.model.pojo.Author"/>
        <mapping class="temperatus.model.pojo.Image"/>

    </session-factory>
</hibernate-configuration>