body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #303840;
}
h2 {
  font-size: 2.8em;
}
.container-fluid {
  padding: 60px 50px;
}
.bg-grey {
  background-color: #f3f3f3;
}
.thumbnail {
  background-color:transparent;
  padding: 0 0 0 0;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  max-width: 450px;
}
.btn {
  width: 200px;
  margin: 0px;
  background-color: #ef4919;
  color: #fff;
}
.btn:hover {
  border: 1px solid #303840;
  background-color: #fff !important;
  color: #ef4919;
}


/* Navigation bar */
.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: rgba(106,123,141,0.98);
  z-index: 9999;
  border: 0;
  font-size: 0.8em !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #ef4919 !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

/* Jumbotron - Init of the page */
.jumbotron {
  font-family: Montserrat, sans-serif;
}

.jumbotron {
  background-color: #303840;
  color: #ffffff;
  padding: 160px 25px 120px;
}

/* About temperatus */

#intro {
  padding: 0 0 36px 38px;
  margin: 50px 0 20px;
  position: relative;
}
#tex {
  margin-top: 30px;
  padding-left: 15px;
  border-left: 2.5px solid #303840;
}
#aboutT {
  padding: 0px 150px 0px;
}

/* Features of the application  */
#features {
  padding-right: 150px;
  padding-left: 150px;
}
#customIcon {
  margin-top: 7px;
  margin-right: 0px;
  color: #ffffff;
  padding: 15px 0 0 0;
  border: none;
  border-radius: 0;
}
#ff {
  font-size: 10px;
}
.icon-background {
  color: #6A7B8D;
}
.content-boxes-v3 h2 {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
}
.content-boxes-v3 {
  padding: 20px;
  font-size: 13px;
}

/* Reviews */

#customers {
  padding: 20px 50px;
}
#customersText {
  padding: 0px 0px 30px 0px;
}
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #303840;
}
.carousel-indicators li {
  border-color: #303840;
}
.carousel-indicators li.active {
  background-color: #303840;
}
.carousel-indicators {
  bottom:-40px;
}
.carousel-control {
  top: -50px;
}
.carousel-inner {
  margin-bottom:45px;
}
.carousel {
  min-height: 230px;
  max-height: 230px;
}
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 30px 0;
}
.item span {
  font-style: normal;
}
div.circle-avatar{
  width:120px;
  height:120px;
  display:block;
  border-radius:50%;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Downloads */
#windows {
  margin-left:15px;
}
#dbuttons {
  margin-top: 40px;
}

/* Contact */
#contact {
  padding: 50px 150px 50px;
}
#contactUs {
  padding: 0px 20px 36px 38px;
  margin: 50px 0px 20px;
  position: relative;
}
#form {
  padding: 0px 0px 0px 20px;
}
.form-control:focus {
  border-color: #6A7B8D;
  box-shadow: inset 0 1px 1px rgba(106, 123, 141, 0.075), 0 0 8px rgba(106, 123, 141, 0.6);
}
.btn-default {
  background-color: #303840;
}

/* Footer */
#footer {
  background-color: rgba(106,123,141,0.98);
}
#footer, #footer a, #footer a:visited {
  font-size: 13px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 2px;
  font-family: Lato, sans-serif;
  padding: 0px;
  color: #ffffff;
  padding: 10px 20px 10px 0px;
}
#footer a:hover {
  opacity: 0.7;
}
#footer #icons {
  font-size: 9px !important;
  color: #f3f3f3;
}

/* Smaller devices */
@media (max-width: 1000px) {
  .container-fluid {
    padding: 0px;
  }
  #intro {
    padding: 0px;
    margin: 0px;
  }
  #aboutT {
    padding: 0px 50px 0px;
  }
  #download {
    padding: 0px 50px 0px;
  }
  #features {
    text-align: left;
    padding: 0px 50px 0px;
  }
  #windows {
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #contact {
    padding: 0px;
    margin: 0px;
  }
  #contactUs {
    text-align: left;
    padding: 0px 50px 0px;
    margin: 0px;
  }
  #form {
    padding: 15px 50px 0px;
  }
  .btn-default {
    margin-bottom: 20px;
  }
  #footer, #footer a {
    font-size: 12px !important;
    letter-spacing: 1px;
    padding: 10px;
  }
  .thumbnail {
    background-color:transparent;
    margin: 50px 0px 50px 0px;
    border: none;
    border-radius: 0;
  }
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }

}
