/*
    Created on : Feb 19, 2016, 18:32:10
    Author     : Alberto Quesada
*/

.root {
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}


.grayBack {
  -fx-background-color: #f3f3f3;
}

.headerLabel {
  -fx-font-family: "Avenir Medium";
  -fx-font-size: 27px;
  -fx-text-fill: #4c5e70;
}

.mainLabel {
  -fx-font-family: "Avenir Medium";
  -fx-font-size: 25px;
  -fx-text-fill: #242c35;
}

.topMenu {
  -fx-background-color: #cdcdcd;
}

/*******************************************************************************
 *                                                                             *
 * Menu                                                                    *
 *                                                                             *
 ******************************************************************************/


.leftMenu {
  -fx-background-color: #2b3940;
}

.leftbtn {
    -fx-padding: 10 0 10 0;
    -fx-border-style: none;
    -fx-background-radius: 0;
    -fx-border-color : #3a474d;
    -fx-border-width: 0 0 0.5 0;
/*    -fx-border-width:2;*/
    -fx-background-color: #2b3940;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: "Avenir Light";
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-label-padding: 0 0 0 30;
    -fx-graphic-text-gap: 15;
}

.leftbtn:hover{
    -fx-background-color: #364852;
}

.leftbtn:selected{
    /*-fx-background-color: #222d32;*/
    -fx-background-color: #34aab0;
    -fx-text-fill: white;
    -fx-border-color : #f3f3f3;
    /*-fx-border-color : black;*/
    -fx-border-width: 0 0 0 4;
}


.leftbtn1 {
    -fx-padding: 10 0 10 0;
    -fx-border-style: none;
    -fx-background-radius: 0;
    -fx-border-color : #3a474d;
    -fx-border-width: 0 0 0.5 0;
/*    -fx-border-width:2;*/
    -fx-background-color: #2b3940;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: "Avenir Light";
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-label-padding: 0 0 0 60;
    -fx-graphic-text-gap: 15;
}

.leftbtn1:hover{
    -fx-background-color: #364852;
}

.leftbtn1:selected{
    /*-fx-background-color: #222d32;*/
    -fx-background-color: #34aab0;
    -fx-text-fill: white;
    -fx-border-color : #f3f3f3;
    /*-fx-border-color : black;*/
    -fx-border-width: 0 0 0 4;
}


/*******************************************************************************
 *                                                                             *
 * Labels                                                                    *
 *                                                                             *
 ******************************************************************************/

 .label-paneinfo {
     -fx-font-size: 10pt;
     -fx-font-family: "Avenir Medium";
     -fx-text-fill: black;
 }

 .label-paneinfodata {
     -fx-font-size: 10pt;
     -fx-font-family: "Avenir Light";
     -fx-text-fill: black;
 }

 .label-bright {
     -fx-font-size: 11pt;
     -fx-font-family: "Avenir Light";
     -fx-text-fill: white;
     -fx-opacity: 1;
 }

 .label-header {
     -fx-font-size: 27pt;
     -fx-font-family: "Avenir Light";
     -fx-text-fill: black;
     -fx-opacity: 1;
 }

/*******************************************************************************
 *                                                                             *
 * Buttons                                                                      *
 *                                                                             *
 ******************************************************************************/


/*###########   Creation buttons (cbtn)     ############*/

.cbtn {
    -fx-padding: 5 22 5 22;
    -fx-border-style: none;
    -fx-border-color : transparent grey grey transparent;
    -fx-border-width:1;
/*    -fx-background-color: #16b7bd; */
/*    -fx-background-color: #299bb4; */
    -fx-background-color: #40749b;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: "Avenir Light";
    -fx-font-size: 11px;
    -fx-text-fill: white;

    -fx-background-radius: 3;
    -fx-border-radius: 3;

}

.cbtn:hover{
    -fx-background-color: #699ca7;
}

.cbtn:pressed, .cbtn:default:hover:pressed
{
  -fx-background-color: black;
  -fx-text-fill: white;
}

.cbtn:focused
{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.cbtn:disabled, .cbtn:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: #212121;
}

.cbtn:default
{
    -fx-background-color: #5585be;
    -fx-text-fill: #ffffff;
}

.cbtn:default:hover{
    -fx-background-color: #219297;
}

/*###########   Import button (ibtn)     ############*/

.ibtn {
    -fx-padding: 5 22 5 22;
    -fx-border-style: none;
    -fx-border-color : grey grey grey grey;
    -fx-border-width:0.8;
/*    -fx-background-color: #16b7bd; */
/*    -fx-background-color: #299bb4; */
    -fx-background-color: #f3f3f3;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: "Avenir Light";
    -fx-font-size: 14px;
    -fx-text-fill: black;

    -fx-background-radius: 3;
    -fx-border-radius: 3;

}

.ibtn:hover{
    -fx-background-color: #cdcdcd;
}

.ibtn:pressed, .ibtn:default:hover:pressed
{
  -fx-background-color: #b4b4b4;
  -fx-text-fill: white;
}

/*###########   Plus button (pbtn)     ############*/

.pbtn {
    -fx-padding: 5 22 5 22;
    -fx-border-style: none;
    -fx-border-color : grey grey grey grey;
    -fx-border-width:0.8;
/*    -fx-background-color: #16b7bd; */
/*    -fx-background-color: #299bb4; */
    -fx-background-color: #f3f3f3;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: "Avenir Light";
    -fx-font-size: 11px;
    -fx-text-fill: black;

    -fx-background-radius: 3;
    -fx-border-radius: 3;

}

.pbtn:hover{
    -fx-background-color: #cdcdcd;
}

.pbtn:pressed, .ibtn:default:hover:pressed
{
  -fx-background-color: #b4b4b4;
  -fx-text-fill: white;
}

/*###########   Keep Data button (kbtn)     ############*/

.kbtn {
    -fx-padding: 5 22 5 22;
    -fx-border-style: none;
    -fx-border-color : grey grey grey grey;
    -fx-border-width:0.8;
/*    -fx-background-color: #16b7bd; */
/*    -fx-background-color: #299bb4; */
    -fx-background-color: #f3f3f3;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: "Avenir Light";
    -fx-font-size: 12px;
    -fx-text-fill: black;

    -fx-background-radius: 3;
    -fx-border-radius: 3;

}

.kbtn:pressed, .ibtn:default:hover:pressed {
  -fx-background-color: #8ab48e;
  -fx-text-fill: white;
}

.kbtn:selected {
  -fx-background-color: #8ab48e;
  -fx-text-fill: white;
}

.kbtn:selected:focused {
  -fx-background-color: #8ab48e;
  -fx-text-fill: white;
}

/* kpbt is for keep button progress indicator state */

.kpbtn {
    -fx-padding: 5 22 5 22;
    -fx-border-style: none;
    -fx-border-color : grey grey grey grey;
    -fx-border-width:0.8;
/*    -fx-background-color: #16b7bd; */
/*    -fx-background-color: #299bb4; */
    -fx-background-color: #f3f3f3;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: "Avenir Light";
    -fx-font-size: 12px;
    -fx-text-fill: black;

    -fx-background-radius: 3;
    -fx-border-radius: 3;

}

.kpbtn:pressed, .ibtn:default:hover:pressed {
  -fx-background-color: #f3f3f3;
  -fx-text-fill: black;
}

.kpbtn:selected {
  -fx-background-color: #f3f3f3;
  -fx-text-fill: black;
}

.kpbtn:selected:focused {
  -fx-background-color: #f3f3f3;
  -fx-text-fill: black;
}

/* kdbt is for keep button delete data */

.kdbtn {
    -fx-padding: 5 22 5 22;
    -fx-border-style: none;
    -fx-border-color : grey grey grey grey;
    -fx-border-width:0.8;
/*    -fx-background-color: #16b7bd; */
/*    -fx-background-color: #299bb4; */
    -fx-background-color: #e67a67;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: "Avenir Light";
    -fx-font-size: 12px;
    -fx-text-fill: black;

    -fx-background-radius: 3;
    -fx-border-radius: 3;

}

.kdbtn:pressed, .ibtn:default:hover:pressed {
  -fx-background-color: #e67a67;
  -fx-text-fill: black;
}

.kdbtn:selected {
  -fx-background-color: #e67a67;
  -fx-text-fill: black;
}

.kdbtn:selected:focused {
  -fx-background-color: #e67a67;
  -fx-text-fill: black;
}



/*###########   Delete buttons (dbtn)     ############*/

.dbtn {
    -fx-padding: 5 22 5 22;
    -fx-border-style: none;
    -fx-background-radius: 0;
    -fx-border-color : transparent;
/*    -fx-border-width:2;*/
    -fx-background-color: #8b4440;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: "Avenir Light";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.dbtn:hover{
    -fx-background-color: #a6504b;
}

.dbtn:pressed, .dbtn:default:hover:pressed
{
  -fx-background-color: black;
  -fx-text-fill: white;
}

.dbtn:focused
{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.dbtn:disabled, .dbtn:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: #212121;
}

.dbtn:default
{
    -fx-background-color: #5585be;
    -fx-text-fill: #ffffff;
}

.dbtn:default:hover{
    -fx-background-color: #219297;
}

/*******************************************************************************
*                                                                             *
* TextBox (and PasswordBox)                                                   *
*                                                                             *
******************************************************************************/


.text-input{
   -fx-background-radius: 0, 0;
   -fx-background-color: white;
   -fx-border-color: gray;
   -fx-background-insets: 0;

   -fx-prompt-text-fill: #818181;

   -fx-highlight-fill: #008287;
   -fx-highlight-text-fill: white;
}

.text-input:hover{
   -fx-background-color: #e2e2e2;
}

.text-input:focused{
   -fx-background-color: #5c5c5c, white;

   -fx-text-fill: black;
}

/*.text-input > Pane{*/
/*-fx-padding: 0.333333em 0.583em 0.333333em 0em; *//* 4 7 4 0 */
/*}*/

.text-input > .right-button{
   -fx-cursor: default;

   -fx-background-insets: -0.1666665em -0.45em -0.1666665em -0.45em; /* 4 7 4 7 -> this values are subtracted by 2px in em because of the border of the textfield */
}

.text-field > .right-button > .right-button-graphic {
   -fx-shape            : "M221.738,305.873l6.135,6.16l-2.875,2.863l-6.135-6.159l-6.263,6.237l-2.864-2.875l6.263-6.238l-6.177-6.202l2.875-2.863l6.177,6.201l6.244-6.22l2.864,2.876L221.738,305.873z";

   -fx-padding: 0.5em 0.5em;
   -fx-background-color: black;
}

.text-input > .right-button:hover {
   -fx-background-color: #dedede;
}

.text-input > .right-button:pressed {
   -fx-background-color: black;
}

.text-input > .right-button:pressed > .right-button-graphic {
   -fx-background-color: white;
}

.text-input:disabled
{
   -fx-opacity: 1;
   -fx-background-insets: 0, 2;
   -fx-background-color: #e7e6e6;
   -fx-text-fill: #999999;
}

.item-title.disabled{
   -fx-text-fill: #939393;
}

/*******************************************************************************
*                                                                             *
* ListView                                                   *
*                                                                             *
******************************************************************************/


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #222d32;
    -fx-text-fill: white;
}

.list-cell {
    -fx-background-color: #2b3940;
    -fx-text-fill: white;
    -fx-cell-size: 3.2em; /* 24 */
    -fx-font: 14px "Avenir Light";
    -fx-alignment: CENTER_LEFT;
    -fx-border-color:transparent;
}

.list-cell:filled:hover {
    -fx-background-color: #364852;
    -fx-text-fill: white;
}

.list-view{
    -fx-background-color: #2b3940;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

/*******************************************************************************
 *                                                                             *
 * TreeView                                                                    *
 *                                                                             *
 ******************************************************************************/

 .tree-table-cell {
     -fx-padding: 0.5em 0.5em 0.1em 0.3em;
     -fx-border-color: transparent transparent transparent transparent;
     -fx-font-family: "Avenir Medium";
     -fx-font-size: 12px;
     -fx-text-fill: black;
     -fx-alignment: CENTER_LEFT;
     -fx-border-insets: 0;
     -fx-padding: 0 5 0 10;
 }

 .tree-table-view {
     -fx-tree-table-header-border-color: #959595;
     -fx-tree-table-cell-border-color: -fx-box-border;
     -fx-control-inner-background: white;
     -fx-background-color: white;
     -fx-border-color: transparent;
     -fx-padding: 0;
     -fx-border-insets: 0;
     -fx-background-insets: 0;
 }
 .tree-tree-table-view:focused {
     -fx-background-color: -fx-box-border,-fx-box-border, white;
 }
 .tree-table-row-cell {
     -fx-background-color: white;
 }
 .tree-table-row-cell:odd {
     -fx-background-color: white;
     -fx-background-insets: 0, 0 0 1 0;
 }
 .tree-table-view:focused .tree-table-row-cell:focused,.tree-table-view:focused .tree-table-row-cell:focused:odd {
     -fx-background-color: -fx-box-border, white;
     -fx-background-insets: 0, 1, 2;
 }
 .tree-table-view:focused .tree-table-row-cell:filled:focused:selected {
     -fx-background-color: -fx-box-border, #eceff4;
 }
 .tree-table-view:focused .tree-table-row-cell:filled:selected, .tree-table-view:row-selection .tree-table-row-cell:filled:hover:selected {
     -fx-background-color: #eceff4;
     -fx-background-insets: 0,1 1 1 1 0;
 }
 .tree-table-view:focused .tree-table-row-cell:filled:focused:selected:hover {
     -fx-background-color: -fx-box-border, #eceff4;
     -fx-background-insets: 0,1 1 1 1 0;
 }
 .tree-table-row-cell:filled:selected:focused, .tree-table-row-cell:filled:selected {
     -fx-background-color: #eceff4;
 }
 .tree-table-view:row-selection .tree-table-row-cell:filled:hover {
     -fx-background-color: #f5f5f5;
 }
 .tree-table-view:row-selection .tree-table-row-cell:filled:focused:hover {
     -fx-background-color: #eceff4;
 }
 .tree-table-view:focused .tree-table-row-cell:filled:focused:hover {
     -fx-background-color: -fx-box-border,rgb(231,231,231);
 }
 .tree-table-view .column-header-background {
     -fx-background-color: white;
 }

/*   Headers     */

 .tree-table-view .column-header .label{
     -fx-text-fill: #FFFFFF;
     -fx-alignment: CENTER_LEFT;
 }

 .tree-table-view .column-header, .tree-table-view .filler {
     -fx-background-color: #2b3940;
     /*2b3940
     -fx-background-color: #8493a8;*/
     -fx-size: 30;
     -fx-border-color: -fx-box-border;
     -fx-border-insets: -1 0 0 -1;
     -fx-padding: 0 5 0 10;
 }
 .tree-table-view .show-hide-columns-button {
     -fx-background-color: white;
     -fx-border-color: -fx-box-border;
     -fx-border-insets: -1 -1 0 0;
 }
 .tree-table-view .column-drag-header {
     -fx-background-color: rgb(45,137,239);
     -fx-opacity: 0.6;
 }
 .tree-table-view .column-resize-line {
     -fx-background-color: rgb(45,137,239);
 }
 .tree-table-view .column-overlay {
     -fx-background-color: darkgray;
     -fx-opacity: 0.2;
 }
 .tree-table-view .arrow {
     -fx-padding: 0.2em;
     -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
 }

 /*******************************************************************************
  *                                                                             *
  * TabPane                                                                     *
  *                                                                             *
  ******************************************************************************/

 .tab-pane:top *.tab-header-area {
     -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overriden as 5 2 0 0 */
 }

 .tab-pane .tab-header-area .tab-header-background {
     -fx-background-color: #f3f3f3;
     -fx-border-color: transparent;
     -fx-border-insets: 0;

 }

 .tab-pane {
     -fx-tab-min-width:90px;
 }

 .tab-content-area {
   -fx-border-color: #e1e1e1 transparent transparent transparent;
   -fx-border-insets: 0;
   -fx-border-radius: 3;
 }

 .tab {
     -fx-background-insets: 0 1 0 1,0,0;
 }
 .tab-pane .tab {
     -fx-background-color: #2b3940;

 }

 .tab-pane .tab:selected
 {
     -fx-background-color: #34aab0;
 }

 .tab .tab-label {
     -fx-alignment: CENTER;
     -fx-text-fill: #ffffff;
     -fx-font-size: 12px;
     -fx-font-weight: normal;
 }

 .tab:selected .tab-label {
     -fx-alignment: CENTER;
     -fx-text-fill: #ffffff;
     -fx-font-weight: bold;
 }

 /*******************************************************************************
  *                                                                             *
  * ScrollBar                                                                   *
  *                                                                             *
  ******************************************************************************/

 .scroll-bar .thumb{
     -fx-background-color: #cdcdcd;
     -fx-background-insets: 0;
     -fx-background-radius: 0;
 }

 .scroll-bar .thumb:hover {
     -fx-color: #dadada;
 }

 /* The following is not working. Maybe related to RT-10521*/
 .scroll-bar .thumb:pressed {
     -fx-background-color: #606060;
 }


 .scroll-bar .track {
      -fx-background-color: #f0f0f0;
     -fx-background-insets: 0;
     -fx-background-radius: 0;
 }
 .scroll-bar .track-background {
      -fx-background-color: #f0f0f0;
     -fx-background-insets: 0;
 }

 .scroll-bar .increment-button, .scroll-bar .decrement-button {
     -fx-background-color: #f0f0f0;
     -fx-background-insets: 0;
     -fx-background-radius: 0;

     -fx-padding: 0.25em; /* 3 */
 }

 .scroll-bar .increment-button:hover, .scroll-bar .decrement-button:hover  {
     -fx-background-color: #dadada;
 }

 .scroll-bar .increment-button:pressed, .scroll-bar .decrement-button:pressed {
     -fx-background-color: #606060;
 }

 .scroll-bar:horizontal .increment-arrow {
     -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
     -fx-background-insets: 1 0 -1 0, 0;
     -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
     -fx-shape: "M7.626,12.876L4.251,8.751H7.14L11,12.876L7.14,17H4.251L7.626,12.876z";
 }

 .scroll-bar:vertical .increment-arrow {
     -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
     -fx-background-insets: 1 0 -1 0, 0;
     -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
     -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
 }

 .scroll-bar .increment-button:pressed .increment-arrow {
     -fx-background-color: white, white;
 }

 .scroll-bar:horizontal .decrement-arrow {
     -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
     -fx-background-insets: 1 0 -1 0, 0;
     -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
     -fx-shape: "M11,17H8.111l-3.86-4.124l3.86-4.125H11l-3.375,4.125L11,17z";
 }

 .scroll-bar:vertical .decrement-arrow {
     -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
     -fx-background-insets: 1 0 -1 0, 0;
     -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
     -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
 }

 .scroll-bar .decrement-button:pressed .decrement-arrow {
     -fx-background-color: white, white;
 }

 .scroll-bar:disabled {
     -fx-opacity: 0.4;
 }

 .scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}


 /*******************************************************************************
  *                                                                             *
  * Titled-pane                                                                 *
  *                                                                             *
  ******************************************************************************/


.titled-pane {
 -fx-text-fill: #FFFFFF;
 }

.titled-pane > *.content {
  -fx-border-style: none;
  -fx-background-radius: 0;
  -fx-border-color : transparent;
  -fx-border-width: 0 0 0 0;
}

.titled-pane > .title {
   -fx-background-color: transparent;
   -fx-background-radius: 0;
   -fx-background-insets: 0;
   -fx-color: #2b3940;
   -fx-border-color : #3a474d;
   -fx-border-width: 0 0 0.5 0;
   -fx-border-style: none;
   -fx-border-insets: 0;
   -fx-label-padding: 0 0 0 30;
   -fx-padding: 15 0 15 30;
   -fx-graphic-text-gap: 15;
   -fx-font-family: "Avenir Light";
   -fx-font-size: 12px;
   -fx-text-fill: white;

 }

 .titled-pane > .title > .arrow-button
 {
 -fx-background-color: null;
 -fx-background-insets: 0;
 -fx-background-radius: 0;
 -fx-padding: 0 15 0 0; /* 0 3 0 0 */
 }


 /*******************************************************************************
  *                                                                             *
  * FormInput                                                                  *
  *                                                                             *
  ******************************************************************************/

  .form {
     -fx-background-radius: 3;
     -fx-background-color: white;
     -fx-border-color: #3a474d;
     -fx-border-width: 0.5;
     -fx-border-radius: 3;
     -fx-background-insets: 0;

     -fx-prompt-text-fill: #818181;

     -fx-font-family: "Avenir Medium";
     -fx-font-size: 12px;
     -fx-text-fill: black;

     -fx-highlight-fill: #008287;
     -fx-highlight-text-fill: white;
  }

  .formBig {
     -fx-background-radius: 3;
     -fx-background-color: white;
     -fx-border-color: #3a474d;
     -fx-border-width: 0.8;
     -fx-border-radius: 3;
     -fx-background-insets: 0;

     -fx-prompt-text-fill: #818181;

     -fx-font-family: "Avenir Medium";
     -fx-font-size: 14px;
     -fx-text-fill: black;

     -fx-highlight-fill: #008287;
     -fx-highlight-text-fill: white;
  }

  /*******************************************************************************
   *                                                                             *
   * ComboBox                                                                    *
   *                                                                             *
   ******************************************************************************/

  .combo-box-base  {
    -fx-background-radius: 3;
    -fx-background-color: white;
    -fx-border-color: #3a474d;
    -fx-border-width: 0.5;
    -fx-border-radius: 3;
    -fx-background-insets: 0;

    -fx-prompt-text-fill: #818181;

    -fx-font-family: "Avenir Medium";
    -fx-font-size: 12px;
    -fx-text-fill: black;

    -fx-highlight-fill: #008287;
    -fx-highlight-text-fill: white;
  }

  .combo-box-base:hover {
      -fx-background-color: transparent;
  }

  /* ------- OPEN BUTTON ------- */
  .combo-box-base .arrow-button {
      -fx-background-color: #f3f3f3;
  }

  .combo-box-base .arrow-button:hover {
      -fx-background-color: #cdcdcd;
  }

  .combo-box .text-input{
    -fx-border-width: 0;
    -fx-border-color: transparent;
  }

  .combo-box .list-cell {
    -fx-background: white;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-family: "Avenir Medium";
    -fx-font-size: 12px;
  }

  .combo-box-popup .list-view {
      -fx-background-color: #FFFFFF;
      -fx-font-family: "Avenir Medium";
      -fx-font-size: 12px;
  }

  .combo-box-popup .list-view .list-cell {
      -fx-padding: 4 0 4 5;
      -fx-background-color: #FFFFFF;
      -fx-font-family: "Avenir Medium";
      -fx-font-size: 12px;
      -fx-text-fill: black;
  }

  .combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
      -fx-background: -fx-accent;
      -fx-background-color: #eceff4;
      -fx-text-fill: black;
  }

  .combo-box-popup .list-view .list-cell:filled:hover {
      -fx-background-color: #f5f5f5;
      -fx-text-fill: black;
  }

  .date-picker .text-input{
    -fx-border-width: 0;
    -fx-border-color: transparent;
  }

/*******************************************************************************
*                                                                             *
* TableView                                                                    *
*                                                                             *
******************************************************************************/

.table-cell {
    -fx-padding: 0.5em 0.5em 0.1em 0.3em;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-font-family: "Avenir Medium";
    -fx-font-size: 12px;
    -fx-text-fill: black;
    -fx-alignment: CENTER_LEFT;
    -fx-border-insets: 0;
    -fx-padding: 0 5 0 10;
}

.table-view {
    -fx-table-header-border-color: #959595;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-table-cell-border-color: transparent;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:focused {
    -fx-background-color: #eceff4;
    -fx-background-insets: 0, 1, 2;
}

.table-view:row-selection .table-row-cell:filled:selected:hover {
    -fx-background-color: #eceff4;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: -fx-text-inner-color;
}

/* Row hovered */
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: #f5f5f5;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: -fx-text-inner-color;
}

.table-view .column-header .label{
    -fx-text-fill: #FFFFFF;
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: #2b3940;
    /*2b3940
    -fx-background-color: #8493a8;*/
    -fx-size: 30;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: -1 0 0 -1;
    -fx-padding: 0 5 0 10;
}

/*******************************************************************************
*                                                                             *
* Modal Pane                                                                    *
*                                                                             *
******************************************************************************/

.modal {
  -fx-border-width: 0.5;
  -fx-border-color: black;
}


.onHover{
    -fx-background-color: ORANGE;
}

/*******************************************************************************
*                                                                             *
* Check box                                                                   *
*                                                                             *
******************************************************************************/


.check-box .box {
    -fx-background-color: white;
    -fx-border-color: #2b3940;
    -fx-border-width: 0.5;
    -fx-padding: 0.25em; /* 3 -- padding from the outside edge to the mark */
}

.check-box:focused .box {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius: 3.4, 2, 1, 1;
}

.check-box:hover .box {
    -fx-color: -fx-hover-base;
}

.check-box:armed .box {
    -fx-color: -fx-pressed-base;
}

.check-box .mark {
    -fx-background-color: transparent;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em; /* 4 -- this is half the size of the mark */
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}

.check-box:indeterminate .mark {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-shape: "M0,0H8V2H0Z";
    -fx-scale-shape: false;
}

.check-box:selected .mark {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
}

.progress-bar .bar {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-accent,95%), derive(-fx-accent,10%)),
        #3999cf; /* this line is the background color of the bar */
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em; /* 5 */
}
